<html>
<head>
    <title>SB: Server info</title>
    <link rel="stylesheet" href="/asset/css/bundle.css" />
</head>

<body>
<div id="primary">
    <h1>Response served by</h1>
    <p>
        <span>§</span> NODE IP: <span th:text="${nodeip}"></span>
        <br />
        <span>§</span> Client IP: <span th:text="${clientip}"></span>
        <br />
        <span>§</span> Version: <a th:href="@{'https://github.com/dat16v2/tech_aws_assignment_01/commit/' + ${version}}"><span style="color: #596060" th:text="${version}"></span></a>
        <br />
        <span>§</span> Time: <span th:text="${timestamp}"></span>
    </p>
</div>
</body>
</html>