<html>
<head>
    <title>SB: Server info</title>
</head>

<body style="background-color: #e7dbf5;">
<div id="primary" style="font-family: 'Open Sans'">
    <h1 style="text-align: center; color: #767777">Response served by</h1>
    <p style="text-align: center; color: #767777">
        <span style="color: #F0FFFF">§</span> NODE IP: <span th:text="${nodeip}"></span>
        <br />
        <span style="color: #F0FFFF">§</span> Client IP: <span th:text="${clientip}"></span>
        <br />
        <span style="color: #F0FFFF">§</span> Version: <span style="color: #596060" th:text="${version}"></span>
        <br />
        <span style="color: #F0FFFF">§</span> Time: <span th:text="${timestamp}"></span>
    </p>
</div>
</body>
</html>